@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

.form {
  display: flex;
  border-top: 2px solid #d3d3d3;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Hammersmith One', sans-serif;
  font-size: larger;
  background: rgb(117, 130, 201);
  background: linear-gradient(
    10deg,
    rgba(117, 130, 201, 1) 6%,
    rgba(0, 120, 255, 1) 90%
  );
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
}
