@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');

.infoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(116, 119, 172);
  background: linear-gradient(
    19deg,
    rgba(116, 119, 172, 1) 67%,
    rgba(133, 176, 118, 1) 100%
  );
  border-radius: 4px 4px 0 0;
  height: 60px;
  width: 100%;
}

.leftInnerContainer {
  flex: 0.5;
  display: flex;
  align-items: center;
  margin-left: 5%;
  color: white;
}

.rightInnerContainer {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 5%;
}

.onlineIcon {
  margin-right: 5%;
}

h3.roomNameText {
  font-family: 'Lexend Mega', sans-serif;
}
